<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Choose correct image</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="public/css/styles.css">
  </head>
  <body>
    <div class="w3-container w3-teal">
      <h1><b>Выбери картинку, соответствующую слову pineapple:</b></h1>
    </div>
    <div class="s6">
      <a href="/bad"><img id="img_ch" src="public/img/1.jpg"></a>
      <a href="/results"><img id="img_ch" src="public/img/2.jpg"></a>
      <a href="/bad"><img id="img_ch" src="public/img/3.jpg"></a>
      <a href="/bad"><img id="img_ch" src="public/img/4.jpg"></a>
    </div>
  </body>
</html>
