<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Data input select</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="public/css/styles.css">

</head>

<body>
    <div class="sdemo">
        <form id="f">
            <p><b>Демо: Как вписывать перевод слов </b></p>
            <p class="w3-container"> Напишите перевод самостоятельно, или выберете перевод из предложенных словарем.<p><label><b>
                        Single words:</b></label>
            <table   width="100%"cellpadding="5">
                <tr>
                    <td><input class="translate slot w3-button w3-red w3-border w3-border-red w3-round-large input-text" type="text"
                               value="cupboard" readonly></td>
                    <td><input class="translate slot w3-button w3-red w3-border w3-border-red w3-round-large input-text" type="text"
                               value=""></td>
                </tr>
                <tr>
                    <td><input class="translate slot w3-button w3-red w3-border w3-border-red w3-round-large input-text" type="text"
                               value="sandwich" readonly></td>
                    <td><input class="translate slot w3-button w3-red w3-border w3-border-red w3-round-large input-text" type="text"
                               value=""></td>
                </tr>
                <tr>
                    <td><input class="translate slot w3-button w3-red w3-border w3-border-red w3-round-large input-text" type="text"
                               value="pineapple" readonly></td>
                    <td><input class="translate slot w3-button w3-red w3-border w3-border-red w3-round-large input-text" type="text"
                               value=""></td>
                </tr>
            </table>

            <label><b>Two word phrases:</b></label>
            <table   width="100%" cellpadding="5">
                <tr>
                    <td><input class="translate slot w3-button w3-blue w3-border w3-border-blue w3-round-large input-text" type="text"
                               value="play football" readonly></td>
                    <td><input class="translate slot w3-button w3-blue w3-border w3-border-blue w3-round-large input-text" type="text"
                               value=""></td>
                </tr>

            </table>

            <label><b>Three word phrases:</b></label>
            <table   width="100%" cellpadding="5">
                <tr>
                    <td><input class="translate slot w3-button w3-green w3-border w3-border-green w3-round-large input-text" type="text"
                               value="have music lesson" readonly></td>
                    <td><input class="translate slot w3-button w3-green w3-border w3-border-green w3-round-large input-text" type="text"
                               value=""></td>
                </tr>
                <tr>
                    <td><input class="translate slot w3-button w3-green  w3-border w3-border-green w3-round-large input-text" type="text"
                               value="play the piano" readonly></td>
                    <td><input class="translate slot w3-button w3-green w3-border w3-border-green w3-round-large input-text" type="text"
                               value=""></td>
                </tr>
            </table>

            <label><b>Four word phrases:</b></label>
            <table   width="100%" cellpadding="5">
                <tr>
                    <td><input class="translate slot w3-button w3-purple  w3-border w3-border-purple w3-round-large input-text" type="text"
                               value="go to the park" readonly></td>
                    <td><input class="translate slot w3-button w3-purple  w3-border w3-border-purple  w3-round-large input-text" type="text"
                               value=""></td>
                </tr>

            </table>



            <p><input class="  w3-button w3-white w3-border w3-border-black w3-round-large" type="submit" value="Продолжить"></p>
        </form>
    </div>
</body>

</html>
