h1 {
  font-size: 70px;
  text-align: center;
}

body {
  background-color: #b3ffe6;
}

#f {
  font-size: 70px;
}

#words {
  font-size: 70px;
}

#Sbm_name {
  width: 700px;
  height: 100px;
  border-radius: 20px;
}

#Sbm_words {
  font-size: 70px;
  border-radius: 20px;
}

#Sbm_text {
  width: 570px;
  height: 100px;
  font-size: 70px;
  margin-bottom: 30px;
}

#source {
  border-radius: 10px;
}

#words_input {
  font-size: 65px;
  border-radius: 10px;
  height: 170px;
  width: 1700px;
}

#o_btn {
  background-color: white;
  border-color: black;
  text-align: center;
  margin:auto;
  border-radius: 10px;
  font-size: 70px;
  padding: 0px;
}

#o_btn:hover {
    background-color: #b3b3b3;
}

#o_btn:disabled{
  color: blue;
}

#u_btn {
  background-color: white;
  border-color: black;
  text-align: center;
  margin:auto;
  border-radius: 10px;
  font-size: 70px
}

#u_btn:hover {
    background-color: #b3b3b3;
}

#u_btn:disabled{
  color: blue;
}

#a_btn {
  background-color: white;
  border-color: black;
  text-align: center;
  margin:auto;
  border-radius: 10px;
  font-size: 70px;
}

#a_btn:hover {
    background-color: #b3b3b3;
}

#a_btn:disabled{
  color: blue;
}

#u2_btn {
  background-color: white;
  border-color: black;
  text-align: center;
  margin:auto;
  border-radius: 10px;
  font-size: 70px;
}

#u2_btn:hover {
    background-color: #b3b3b3;
}

#u2_btn:disabled{
  color: blue;
}

#c_btn {
  background-color: white;
  border-color: black;
  text-align: center;
  margin:auto;
  border-radius: 10px;
  font-size: 70px;
}

#c_btn:hover {
    background-color: #b3b3b3;
}

#c_btn:disabled{
  color: blue;
}

#ch_btn {
  background-color: white;
  border-color: black;
  text-align: center;
  margin:auto;
  border-radius: 10px;
  font-size: 70px;
}

#ch_btn:hover {
    background-color: #b3b3b3;
}

#ch_btn:disabled{
  color: blue;
}

#task_words {
  width: 1700px;
  margin: auto;
  margin-top: 20px;
  text-align: center;
  border-radius: 10px;
  background-color:  #33ff99;
  border-color: black;
  font-size: 70px;
}

#c_btn:disabled{
  color: blue;
}

#img_ch {
  width: 500px;
  height: 500px;
  border-radius: 20px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.chl_buttn:disabled {
  font-color: black;
  background: blue;
}

.w_input {
  width: 700px;
  height: 70px;
  border-radius: 10px;
}

.s_err {
  font-size: 70px;
  width: 600px;
  margin: auto;
}

.s_res {
  font-size: 70px;
  width: 670px;
  margin: auto;
  background-color: #33ff99;
  border-radius: 10px;
  text-align: center;
}

.s0 {
  width: 700px;
  margin: auto;
}

.s1 {
  width: 900px;
  margin: auto;
}

.s2 {
  background-color: #33ff99;
  /*#b3ff99*/;
  width: 800px;
  margin: auto;
  text-align: center;
  border-radius: 10px;
  border-color: black;
  font-size: 70px;
}

.s3 {
  width: 800px;
  margin: auto;
  text-align: center;
  border-radius: 10px;
  font-size: 70px;
}

.s4 {
  font-size: 75px;
  width: 1900px;
  margin: auto;
}

.s5 {
  background-color: #33ff99;
  width: 1200px;
  margin: auto;
  border-radius: 10px;
  border-color: black;
  /*text-align: center; */
}

.s6 {
  background-color: #33ff99;
  width: 1035px;
  margin: auto;
  margin-top: 10px;
  border-radius: 10px;
  border-color: black;
  /*text-align: center; */
}

.im {
  background-color: white;
  width: 520px;
  height: 520px;
  margin: auto;
  border-radius: 10px;
  border-color: black;
}

.w3-button.w3-round-large {
  width: 900px;
  height: 200px;
}

.w3-button.w3-round-large.input-text{
  width: 900px;
  height: 100px;
}

p{
  margin: 30px 0;
}

p.words{
  line-height: 1px;
}

#this {
  width: 570px;
  height: 100px;
  margin: auto;
  margin-bottom: 20px;
}

#note{
  font-size: 2rem;
}
